body {
    padding-top: 50px;
}

* {margin: 0; padding: 0;}


body {
  background: #eee !important;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-box{
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);  
}
.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.push-right{
    margin-right: 2px;
}

.well{
  padding: 15px 10px 30px 10px !important;
  margin-right:-20px;
}

.well-endpoint{
  border: 3px solid #555;
}

.push-vertical{
  padding: 15px 0px 0px 0px;
  text-align:center;
}
@media (min-width: 992px)
{
hr{
    margin-right: -4em !important;
    margin-left: -2em !important;
    border-bottom: 3px solid #080808 !important;
    padding-top: 125px;
    margin: -50px;
    border:0px;
}

hr.connector-one {
    padding: 40px;
    margin-right: 175px !important;
    margin-left: -15px !important;
    margin-top: -70px;
    margin-bottom: 0px;
    /*border-right: 3px solid black !important;*/
}

hr.connector-two{
  border-left: 3px solid black !important;
}

hr.connector-start{
  margin-left:0px !important;
}

hr.connector-end{
  margin-right:0px !important;
}

.col-md-1{
  margin-left: 1.5% !important;
}

.conversion {
    color: black;
    margin-left: -25px;
    margin-top: 25px;
    font-size: 10px;
    float:left;
}
.push-top{
    padding-top:2em;
}
}

.invalid-creds
{
    color:red;
}

@media (max-width: 991px) {
  hr {
    margin-top: 0px !important;
    margin-bottom:  -25px !important;
    border-right: 3px solid #080808 !important;
    border: 0px;
    padding: 20px;
    margin-right: 50%;
}
.well{
    margin:0px
}

.conversion {
    margin-left: 42%;
    font-size: 10px;
    color: black;
}

hr.connector-start{
  display: none;
}



}

hr.separator {
    margin: 0 !important;
    border: 0 !important;
    border-top: 1px solid #ccc !important;
    padding: 0px 0px 10px 0px!important;
}