<div class="wrapper" ng-init="getData()">
<!--<div class="form-box"><h5 class="form-signin-heading">Sign In/Sign Up</h2></div>
<div class="form-box"><h5 class="form-signin-heading">Risk Questions</h2></div>
<div class="form-box"><h5 class="form-signin-heading">Risk Report</h2></div>
<div class="form-box"><h5 class="form-signin-heading">Suggested Portfolio</h2></div>
<div class="form-box"><h5 class="form-signin-heading">Confirm Portfolio</h2></div>
<div class="form-box"><h5 class="form-signin-heading">Mobile Email Verification</h2></div>
<div class="form-box"><h5 class="form-signin-heading">KYC</h2></div>
<div class="form-box"><h5 class="form-signin-heading">CAN</h2></div>
<div class="form-box"><h5 class="form-signin-heading">Customer Documents</h2></div>
<div class="form-box"><h5 class="form-signin-heading">Transactions</h2></div>
-->

<div class="container-fluid">
    <div class="row">
		<div class="col-md-12">
			<h3 class="text-center">
				Admin Panel - User Pipeline
			</h3>
		</div>
	</div>
	<div class="row">
		
		<div class="col-md-1"><hr class="connector-start"/><div class="well well-endpoint">
			<span class="label label-success push-right pull-left">{{ stats.registration['2'] + stats.registration['3'] || 0}}</span>
			<span class="label label-primary pull-right">{{stats.registration['2'] || 0}}</span>
			<h5 class="text-primary push-vertical">
				
				Sign In/Sign Up
			</h5>
			<span class="label label-warning pull-right">{{stats.registration['3'] || 0}}</span></div>
		</div>
		<div class="col-md-1"><hr/>
		<span class="conversion">{{ stats.questionnaire['3']/(stats.questionnaire['2'] + stats.questionnaire['3']) || 0 }}%</span>
		<div class="well">
			<span class="label label-success push-right pull-left">{{stats.questionnaire['2'] + stats.questionnaire['3'] || 0 }}</span>
			<span class="label label-primary pull-right">{{stats.questionnaire['2'] || 0}}</span>
			<h5 class="text-primary push-vertical">
				
				Risk Questions
			</h5>
			<span class="label label-warning pull-right">{{stats.questionnaire['3'] || 0}}</span></div>
		</div>
		<div class="col-md-1"><hr/>
		<span class="conversion">{{ stats.risk_report['3']/(stats.risk_report['2'] + stats.risk_report['3']) || 0 }}%</span>
		<div class="well">
			<span class="label label-success push-right pull-left">{{stats.risk_report['2'] + stats.risk_report['3'] || 0 }}</span>
			<span class="label label-primary pull-right">{{stats.risk_report['2'] || 0}}</span>
			<h5 class="text-primary push-vertical">
				
				Risk Report
			</h5>
			<span class="label label-warning pull-right">{{stats.risk_report['3'] || 0}}</span></div>
		</div>
		<div class="col-md-1"><hr/>
		<span class="conversion">{{ stats.suggested_portfolio['3']/(stats.suggested_portfolio['2'] + stats.suggested_portfolio['3']) || 0 }}%</span>
		<div class="well">
			<span class="label label-success push-right pull-left">{{stats.suggested_portfolio['2'] + stats.suggested_portfolio['3'] || 0 }}</span>
			<span class="label label-primary pull-right">{{stats.suggested_portfolio['2'] || 0 }}</span>
			<h5 class="text-primary push-vertical">
				
				Suggested Portfolio
			</h5>
			<span class="label label-warning pull-right">{{stats.suggested_portfolio['3'] || 0}}</span></div>
		</div>
		<div class="col-md-1"><hr/>
		<span class="conversion">{{ stats.confirm_portfolio['3']/(stats.confirm_portfolio['2'] + stats.confirm_portfolio['3']) || 0 }}%</span>
		<div class="well">
		<span class="label label-success push-right pull-left">{{stats.confirm_portfolio['2'] + stats.confirm_portfolio['3'] || 0 }}</span>
		<span class="label label-primary pull-right">{{stats.confirm_portfolio['2'] || 0}}</span>
			<h5 class="text-primary push-vertical">
				
				Confirm Portfolio
			</h5>
			<span class="label label-warning pull-right">{{stats.confirm_portfolio['3'] || 0}}</span></div>
		</div>
		<div class="col-md-1"><hr/>
		<span class="conversion">{{ stats.mobile_verification['3']/(stats.mobile_verification['2'] + stats.mobile_verification['3']) || 0 }}%</span>
		<div class="well">
		<span class="label label-success push-right pull-left">{{stats.mobile_verification['2'] + stats.mobile_verification['3'] || 0 }}</span>
		<span class="label label-primary pull-right">{{ stats.mobile_verification['2'] || 0 }}</span>
			<h5 class="text-primary push-vertical">
				
				Mobile Email Verification
			</h5>
			<span class="label label-warning pull-right">{{ stats.mobile_verification['3'] || 0}}</span></div>
		</div>
		<div class="col-md-1"><hr/>
		<span class="conversion">{{ stats.kyc_status['3']/(stats.kyc_status['2'] + stats.kyc_status['3']) || 0 }}%</span>
		<div class="well">
		<span class="label label-success push-right pull-left">{{stats.kyc_status['2'] + stats.kyc_status['3'] || 0 }}</span>
		<span class="label label-primary pull-right">{{ stats.kyc_status['2'] || 0 }}</span>
			<h5 class="text-primary push-vertical">
				
				KYC
			</h5>
			<span class="label label-warning pull-right">{{ stats.kyc_status['3'] || 0}}</span></div>
		</div>
		<div class="col-md-1"><hr/>
		<span class="conversion">{{ stats.can_status['3']/(stats.can_status['2'] + stats.can_status['3']) || 0 }}%</span>
		<div class="well">
		<span class="label label-success push-right pull-left">{{stats.can_status['2'] + stats.can_status['3'] || 0 }}</span>
		<span class="label label-primary pull-right">{{ stats.can_status['2'] || 0 }}</span>
			<h5 class="text-primary push-vertical">
				
				CAN
			</h5>
			<span class="label label-warning pull-right">{{ stats.can_status['3'] || 0}}</span></div>
		</div>
		<div class="col-md-1"><hr/>
		<span class="conversion">{{ stats.customer_documents['3']/(stats.customer_documents['2'] + stats.customer_documents['3']) || 0 }}%</span>
		<div class="well">
			<span class="label label-success push-right pull-left">{{ stats.customer_documents['2'] + stats.customer_documents['3'] || 0 }}</span>
			<span class="label label-primary pull-right">{{stats.customer_documents['2'] || 0 }}</span>
			<h5 class="text-primary push-vertical">
				
				Customer Documents
			</h5>
			<span class="label label-warning pull-right">{{stats.customer_documents['3'] || 0}}</span></div>
		</div>
		<div class="col-md-1"><hr class="connector-end"/>
		<span class="conversion ">{{ stats.transaction_status['3']/(stats.transaction_status['2'] + stats.transaction_status['3']) || 0 }}%</span>
		<div class="well well-endpoint">
		<span class="label label-success push-right pull-left">{{ stats.transaction_status['2'] + stats.transaction_status['3'] || 0 }}</span>
		<span class="label label-primary pull-right">{{stats.transaction_status['2'] || 0 }}</span>
			<h5 class="text-primary push-vertical">
				
				Transactions
			</h5>
			<span class="label label-warning pull-right">{{stats.transaction_status['3'] || 0}}</span></div>
		</div>
		<div class="col-md-1">
		</div>
	</div>
    <div class="row push-top">
		<div class="col-md-8">
		</div>
		<div class="col-md-3">      
            <div class="well">
                <div class="row">
                <div class="col-md-4"><span class="label label-success">#</span></div>
                <div class="col-md-8"><h5 class="text-primary"> No. of customers arrived at the process</h5></div>
                </div><hr class="separator">
                <div class="row">
                <div class="col-md-4"><span class="label label-primary">#</span></div>
                <div class="col-md-8"><h5 class="text-primary"> No. of customers still at the process.</h5></div>
                </div><hr class="separator">
                <div class="row">
                <div class="col-md-4"><span class="label label-warning">#</span></div>
                <div class="col-md-8"><h5 class="text-primary"> No. of customers successfully passed process.</h5></div>
                </div><hr class="separator">
                <div class="row">
                <div class="col-md-4"><span class="label label-default">#</span></div>
                <div class="col-md-8"><h5 class="text-primary"> Conversion Rate ( <span class="label label-warning">#</span>/ <span class="label label-success">#</span> )</h5></div>
                </div>
            </div>
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>
</div>