<div class="wrapper" ng-init="getData()">
<!--<div class="form-box"><h5 class="form-signin-heading">Sign In/Sign Up</h2></div>
<div class="form-box"><h5 class="form-signin-heading">Risk Questions</h2></div>
<div class="form-box"><h5 class="form-signin-heading">Risk Report</h2></div>
<div class="form-box"><h5 class="form-signin-heading">Suggested Portfolio</h2></div>
<div class="form-box"><h5 class="form-signin-heading">Confirm Portfolio</h2></div>
<div class="form-box"><h5 class="form-signin-heading">Mobile Email Verification</h2></div>
<div class="form-box"><h5 class="form-signin-heading">KYC</h2></div>
<div class="form-box"><h5 class="form-signin-heading">CAN</h2></div>
<div class="form-box"><h5 class="form-signin-heading">Customer Documents</h2></div>
<div class="form-box"><h5 class="form-signin-heading">Transactions</h2></div>
-->

<div class="container-fluid">
	<div class="row">
		<div class="col-md-2"><div class="well"><h4 class="text-primary"><span class="label label-primary push-right">{{stats.total_customers}}</span>Sign In/Sign Up</h2></div>
		</div>
		<div class="col-md-2"><div class="form-box"><h5 class="form-signin-heading">Risk Questions</h2></div>
		</div>
		<div class="col-md-2"><div class="form-box"><h5 class="form-signin-heading">Risk Report</h2></div>
		</div>
		<div class="col-md-2"><div class="form-box"><h5 class="form-signin-heading">Suggested Portfolio</h2></div>
		</div>
		<div class="col-md-2"><div class="form-box"><h5 class="form-signin-heading">Confirm Portfolio</h2></div>
		</div>
		<div class="col-md-2"><div class="form-box"><h5 class="form-signin-heading">Mobile Email Verification</h2></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-12">
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
				</div>
			</div>
		</div>
		<div class="col-md-1">
		</div>
	</div>
	<div class="row">
		<div class="col-md-2"><div class="form-box"><h5 class="form-signin-heading">KYC</h2></div>
		</div>
		<div class="col-md-2"><div class="form-box"><h5 class="form-signin-heading">CAN</h2></div>
		</div>
		<div class="col-md-2"><div class="form-box"><h5 class="form-signin-heading">Customer Documents</h2></div>
		</div>
		<div class="col-md-2"><div class="form-box"><h5 class="form-signin-heading">Transactions</h2></div>
		</div>
		<div class="col-md-2">
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>


</div>