<div class="wrapper" ng-init="getData()">
<!--<div class="form-box"><h5 class="form-signin-heading">Sign In/Sign Up</h2></div>
<div class="form-box"><h5 class="form-signin-heading">Risk Questions</h2></div>
<div class="form-box"><h5 class="form-signin-heading">Risk Report</h2></div>
<div class="form-box"><h5 class="form-signin-heading">Suggested Portfolio</h2></div>
<div class="form-box"><h5 class="form-signin-heading">Confirm Portfolio</h2></div>
<div class="form-box"><h5 class="form-signin-heading">Mobile Email Verification</h2></div>
<div class="form-box"><h5 class="form-signin-heading">KYC</h2></div>
<div class="form-box"><h5 class="form-signin-heading">CAN</h2></div>
<div class="form-box"><h5 class="form-signin-heading">Customer Documents</h2></div>
<div class="form-box"><h5 class="form-signin-heading">Transactions</h2></div>
-->
<span class="label label-danger pull-left" style="position: absolute !important; top: 0 !important; left: 0 !important" ng-hide:{{!unauthorizedAccess}}>Unauthorized Acesss. {{unauthorizedAccess}}</span>
<div class="container-fluid">
    <div class="row">
		<div class="col-md-12">
			<h3 class="text-center">
				Admin Panel - User Pipeline
			</h3>
		</div>
	</div>
	<div class="row">
		
		<div class="col-md-1"><hr class="connector-start"/><div class="well well-endpoint">
			<span class="label label-success push-right pull-left">{{ stats.registration['2'] + stats.registration['3'] || 0}}</span>
			<span class="label label-primary pull-right">{{stats.registration['2'] || 0}}</span>
			<h5 class="text-primary push-vertical">
				
				Sign In/Sign Up
			</h5>
			<span class="label label-warning pull-right">{{stats.registration['3'] || 0}}</span></div>
		</div>
		<box name='Risk Questions' stage="stats.questionnaire"></box>
        <box name='Risk Report' stage="stats.risk_report"></box>
        <box name='Suggested Portfolio' stage="stats.suggested_portfolio"></box>
        <box name='Confirm Portfolio' stage="stats.confirm_portfolio"></box>
        <box name='Mobile Email Verification' stage="stats.mobile_verification"></box>
        <box name='KYC' stage="stats.kyc_status"></box>
        <box name='CAN' stage="stats.can_status"></box>
        <box name='Customer Documents' stage="stats.customer_documents"></box>
		<div class="col-md-1"><hr class="connector-end"/>
		<span class="conversion ">{{ (stats.transaction_status['3']/(stats.transaction_status['2'] + stats.transaction_status['3']))*100 || 0 | number: 0}}%</span>
		<div class="well well-endpoint">
		<span class="label label-success push-right pull-left">{{ stats.transaction_status['2'] + stats.transaction_status['3'] || 0 }}</span>
		<span class="label label-primary pull-right">{{stats.transaction_status['2'] || 0 }}</span>
			<h5 class="text-primary push-vertical">
				
				Transactions
			</h5>
			<span class="label label-warning pull-right">{{stats.transaction_status['3'] || 0}}</span></div>
		</div>
		<!--<div class="col-md-1">
		</div>-->
        
	</div>
    
    <div class="row push-top">
		<div class="col-md-8">
		</div>
		<div class="col-md-3">      
            <div class="well">
                <div class="row">
                <div class="col-md-4"><span class="label label-success">#</span></div>
                <div class="col-md-8"><h5 class="text-primary"> No. of customers arrived at the process</h5></div>
                </div><hr class="separator">
                <div class="row">
                <div class="col-md-4"><span class="label label-primary">#</span></div>
                <div class="col-md-8"><h5 class="text-primary"> No. of customers still at the process.</h5></div>
                </div><hr class="separator">
                <div class="row">
                <div class="col-md-4"><span class="label label-warning">#</span></div>
                <div class="col-md-8"><h5 class="text-primary"> No. of customers successfully passed process.</h5></div>
                </div><hr class="separator">
                <div class="row">
                <div class="col-md-4"><span class="label label-default">#</span></div>
                <div class="col-md-8"><h5 class="text-primary"> Conversion Rate ( <span class="label label-warning">#</span>/ <span class="label label-success">#</span> )</h5></div>
                </div>
            </div>
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>
</div>